#banner {
    height: 90vh;
    background-image:url(abstract-pink-and-rose-gold-ink-splash-design-page-border-background-word-template_cad97f7731__1131_1600.jpg)
}

.btn {
    padding: 15px 30px;
    border=radius: 0;
}